/*Hero section yung nasa logo something*/
.hero{
	height:auto;
	width:auto;
	/*background-image: url("sample.jpg");*/
	background-color: rgb(220, 240, 245);
	background-blend-mode: color;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/*navigation design*/
nav{
	padding: .25cm 15px 1cm 15px;
	/*padding-top: .25cm;
	padding-right: 15px;
	padding-bottom: 1cm;
	padding-left: 15px;*/
}

/*Links design*/
.links{
	/*display: inline;
	align-items: stretch;*/
	list-style-type: none;
	
}

.link-style{
	text-decoration: none;

}
#logo{
	font-size: 3em;
	font-weight: bold;
	font-family: 'Brush Script MT', 'Brush Script Std', cursive;
	text-decoration: none;
}

a.logo{
	color: #7f5539;
	text-shadow:  0 3px #dac8a7 /*0 0 10px #0a26a7*/;
}
/*Section designs*/
#About, #Skills, #Contact{
	margin-top: 50;
	padding-top: 10cm;
}

/*About design*/
/*Skills design*/
/*Contact design*/