/*html page designs*/
html{
	background-image: url("sample.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/*navigation div design */
.navigation{
	background-color: #e2dbd6;
}
.linkdiv{
	float: right; /*floats the navigations to the right*/
	overflow: hidden;
}

/*Links design*/
.ul-links{
	list-style-type: none; /*removes style of the link*/
}

.link-style{
	text-decoration: none; /* removes the underline on the link*/
	color: #000; /*changes link font-color*/
	padding:  15px 15px 15px 15px; /*top, right, bottom, left paddings*/
	font-weight: bold;
}
/*list design*/
.list{
	display: inline-block; /*makes the lists horizontal*/
	text-align: center;
	font-size: 1.75em;
	font-family: Arial, Helvetica, sans-serif;
}
.list:hover{
	text-shadow:  0 5px #926107
	
}
/*Logo-link design*/
#logo{
	font-size: 3em;
	font-weight: bold;
	font-family: 'Brush Script MT', 'Brush Script Std', cursive;
	text-decoration: none;
	padding:  15px 15px;
	color: #7f5539;
	text-shadow:  0 3px #dac8a7
}

/*hero or banner design*/
.hero{
	background-color: beige;/*change to pic*/
	text-align: center;
	height: 45.25em;
	width: 100%;
	
}
.hero-text{
	padding: 125px 50px 50px 100px;
	font: 3em sans-serif;
}
/*Navigation design ends here*/

/*Section designs*/
#About, #Skills, #Contact{
	margin-top: 1.5cm;
}

/*About design*/
#About{
	background-color: rgba(187, 248, 215, 0.932);/*change to pic*/
	text-align: center;
	height: 44em;
	width: 100%;
}

.text h2{
	font: sans-serif;
	font-size: 5.5em;
	margin-top: 0%;
	margin-bottom: 2%;
	padding-top: 2px;
}
.text h3{
	font: icon;
	font-size: 1.5em;
	margin-top: 0%;
	padding-top: 0%;
}
/*Skills design*/
#Skills{
	background-color: rgba(170, 204, 243, 0.932);/*change to pic*/
	text-align: center;
	height: 44em;
	width: 100%;
	padding-top: 0%;
}
#Skills div{
	font: sans-serif;
	font-size: 5.5em;
	margin-top: 0%;
	padding-top: 0%;
	margin-bottom: 2%;
}
#Skills li{
	list-style-type: none;
	display: inline-block;
	padding: 0 50px 0 15px;
}
#Skills ul{
	margin-top: 0%;
	margin-bottom: 2%;
	padding-top: 0%;
}
/*Contact design*/